{% extends "ratemylecturer/base.html" %}
{% load staticfiles %}
{% block title_block %}
 <title>   Rate my Lecturer - Register </title>
{% endblock %}
{% comment %}
{% block body_block %}
{% if registered %}
    <p>Thank you for registering</p>
   {% else %}
    <input id="student_radio" type="radio" name="user" value="student" checked>
    <label for="student">Student</label>
    <input id="lecturer_radio" type="radio" name="user" value="lecturer" >
    <label for="lecturer">Lecturer</label>
    <form id="user_form_student" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ student_profile_form.as_p }}
    <input type="submit" value="Submit">
    </form>
        <form id="user_form_lecturer" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ lecturer_profile_form.as_p }}
    <input type="submit"  value="Submit">
    </form>
    {% endif %}

{% endblock %}
{% endcomment %}
{% block body_block %}
<h1 id="h">Register Here</h1>
    <input id="student_radio" type="radio" name="user" value="student" checked>
    <label for="student">Student</label>
    <input id="lecturer_radio" type="radio" name="user" value="lecturer" >
    <label for="lecturer">Lecturer</label>
    <div id="lec_id">
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static "js/ratemylecturer_jquery.js" %}"></script>

{% endblock %}