{% extends 'ratemylecturer/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    Add a Review
{% endblock %}

{% block body_block %}
    {% if is_student == True %}
        <div class="container-fluid col" style="width: 50%">
            <h1 class="text-left" style="font-family: 'Segoe UI'">Add a Review</h1>
            <br/>

            <form id="review_form" method="post" action="{% url 'add_review' username %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <h2><label for="review_rating" class="control-label">Rate {{ lecturer.name }}</label></h2>
                <input id="review_rating" name="review_rating" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="3">
                    {{ review_form|crispy }}
                    <button type="submit" class="btn btn-primary" style="font-size: 18px;font-family: 'Segoe UI Light'">Submit</button>
                </div>
            </form>
        </div>
    {% else %}
        <h2 class="text-md-center" style="font-family: 'Segoe UI';">Sorry, you're not a student</h2>
    {% endif %}
{% endblock %}

