<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title_block %}
    <title>Rate My Lecturer</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
</head>
<body>
{% block link_block %}
        <div>
        <table id="header_link">
            <tr>
                <th>
                    <a id="home" href="{% url 'index' %}">Home</a>
                </th>
                <th>
                    <a id="about" href="{% url 'about' %}">About</a>
                </th>
                {% if not user.is_authenticated %}<!-- if user not signed in, show sign in and register link -->
                <th>
                    <a name="sign_in" href="{% url 'auth_login' %}">Sign In</a>
                    <th>
                    <a href="{% url 'registration_register' %}">Register</a>
                </th>
                </th>
                {% endif %}
                {% if user.is_authenticated %}
                <th>
                    <a name="sign_out" href="{% url 'auth_logout' %}?next=/ratemylecturer/">Sign Out</a>
                </th>
                <th>
                    <a href="{% url 'profile' %}">Profile</a>
                </th>
                <th>
                    <a href="{% url 'review' %}">Reviews</a>
                </th>


                {% endif %}
            </tr>
        </table>
    </div>
{% endblock %}
{% block body_block %}

{% endblock %}


</body>
</html>