{% extends 'ratemylecturer/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
    Add a Lecturer
{% endblock %}

{% block body_block %}

    {% if created %}
        <strong>Thank you for Adding a Lecturer</strong>
        <a href="{% url 'index' %}">Return to homepage</a>
    {% else %}

        <form style="margin-left:100px; width: 600px" id="create_lec user_form" method="post" action="{% url 'create_lecturer' user_id %}" enctype="multipart/form-data">
        <h1>Add a Lecturer</h1>
            {% csrf_token %}
            <!-- display form -->
            {{ lecturer_profile_form|crispy }}
            <input class="btn-lg btn btn-primary" type="submit", name="submit" value="Add Lecturer">
        </form>
    {% endif %}

{% endblock %}
{% block script_block %}
    <script language="JavaScript" type="text/javascript">
        $("label[for=id_bio],#id_bio").hide();
        var uni_list={{ uni_list|safe}}
    </script>
{% endblock %}
