<!DOCTYPE html>

<html>
{% load staticfiles %}
    <head>
        
        <title>Rate My Lecturer</title>
        
    
    </head>
    <body>
         <p>Sup</p>
        <img src="{{ MEDIA_URL }}images/cat.jpg">
        <img src="{% static "images/cat2.jpg/" %}" alt="">

    <div>
        <ul>
            <li>
            <a name="sign_in" href="{% url 'login' %}">Sign In</a>
        </li>
        <li>
            <a id="student"  href="{% url 'register_student' %}">Student Registration</a>  <br/>
        </li>
        <li>
            <a id="lecturer" class="button" href="{% url 'register_lecturer' %}">Lecturer Registration</a>

        </li>
        </ul>
    </div>

    </body>
</html>