{% extends 'ratemylecturer/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Login</title>
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
    <h1 class="text-left" style="font-family:'Segoe UI' ">Login </h1>
        <br/>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log in">
        <input type="hidden" name="next"  value="{{ next }}">
    </form>
<br/>
<p style="font-family: 'Segoe UI Light'">
    Don't Have an account?
    <a href="{% url 'register' %}">Register Here</a>
</p>
    </div>
{% endblock %}