{% extends 'ratemylecturer/base.html' %}
{% block title_block %}
{{profile.first_name}} {{profile.surname}}{{profile.name}}
{% endblock %}
{% block body_block %}

  <h1>{{profile.first_name}} {{profile.surname}}</h1>
   <h1>{{profile.name}}</h1>

    <img src="{{ profile.picture }}">

    <br>
<h1>Reviews</h1>

    {% for review in reviews %}
        <div class="review">
            <div>{{ review.title }}</div>
            <div>{{ review.review_body }}</div>
        <br>
        </div>

    {% endfor %}

    {% if student_profile == True and is_student == True %}
     <a href="{% url 'add_review' profile_user %}">Add a Review</a>
    {% endif %}
{% endblock %}

