{% block title_block %}
 <title>   Rate my Lecturer - Register </title>
{% endblock %}

{% block body_block %}
{% if registered %}
    <p>Thank you for registering</p>
    {% else %}
    <input id="student_radio" type="radio" name="user" value="student" checked>
    <label for="student">Student</label>
    <input id="lecturer_radio" type="radio" name="user" value="lecturer" >
    <label for="lecturer">Lecturer</label>
    <form id="user_form_student" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ student_profile_form.as_p }}
    <input type="submit" name="submit" value="Submit">
    </form>
        <form id="user_form_lecturer" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ lecturer_profile_form.as_p }}
    <input type="submit" name="submit" value="Submit">
    </form>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
$(document).ready(function(){
    $('#user_form_lecturer').hide();
   $('input[type=radio]').click(function(){
        var user = this.value;
       if (user === "lecturer") {
           $("#user_form_student").hide();
           $("#user_form_lecturer").show();
       }else {
           $("#user_form_student").show();
           $("#user_form_lecturer").hide();
       }

   });
});
</script>
{% endblock %}