{% extends 'ratemylecturer/base.html' %}
{% load staticfiles %}

    {% block title_block %}
    <title>Rate My Lecturer - Registration</title>
    {% endblock %}

{% block body_block %}
{% if registered %}
    <strong>Thank you for registering</strong>
    <a href="{% url 'index' %}">Return to homepage</a>
{% else %}
    Register here!<br />
<form id="user_form" method="post" action="{% url 'register_student' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- display form -->
    {{ user_form.as_p }}
        {{ student_profile_form.as_p }}
    <input type="submit", name="submit" value="Register">
</form>
    {% endif %}

{% endblock %}