{% extends 'ratemylecturer/base.html' %}
{%  load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <h2 class="text-left" style="font-family: 'Segoe UI'">
            Results...
        </h2>
        <br/>
        {% for lecturer in lecturers %}
            <div class="container" style="border-spacing:12px">
            <h3 style="font-family: 'Segoe UI Light'">{{lecturer.name}}</h3>
            <p1 style="font-family: 'Segoe UI Light'">{{lecturer.university}}</p1>
            <p1 style="font-family: 'Segoe UI Light'">{{lecturer.department}}</p1>
            <p1 style="font-family: 'Segoe UI Light'">{{lecturer.rating_avr}}</p1>
            </div>
        {% endfor %}
        <br/>

    </div>
{%  endblock %}