{% extends 'ratemylecturer/base.html' %}
{%  load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
       <div style="font-size: 22px" class="widget">
                <fieldset>
                    <legend id="search_legend">Search for Lecturers:</legend>
                    <label for="lec_search">Lecturers</label>
                    <input class="search_radio" id="lec_search" type="radio" name="search" value="lecturer">
                    <label for="uni_radio">Universities</label>
                    <input class="search_radio" id="uni_radio" type="radio" name="search" value="uni">
                </fieldset>
            </div>

        <div class="col-md-6"> {% if proxy %}
     <form style="display: block" class="prox-ser search_form my-2 my-lg-0" method="get" action="{% url 'search' %}">
                <input class="form-control mr-sm-2 main-search" name=q type="text"
                       placeholder="Search for Lecturers/Universities" style="width:300px;" aria-label="Search">
        <span><input class="btn btn-primary prox-but" type="submit" value="Search"></span>
            {% else %}
             <h3 class="sub-header">Search for "{{ query }}":</h3>
     {% endif %}


        <hr>

            <div id="lec_data" class="table-responsive">
                <table style="width: 600px" class="table table-striped">

                    <tbody>
                    {% if lec_result %}
                        {% for lec in lec_result %}
                            <tr>
                                <td class="col-md-12">
                                    <a style="font-family: 'Segoe UI Light'"
                                       href="{% url 'profile' lec.user %}">{{ lec.name }}</a> {{ lec.department }},
                                    {{ lec.university }} <br>
                                    <input id="input-2" name="input-2" class="rating rating-loading"
                                           value="{{ lec.rating_avr }}"
                                           readonly data-show-clear="false" data-size="xs">
                                </td>
                            </tr>
                        {% endfor %}
                     {% else %}
                      <h3 style="color:red;font-family: 'Segoe UI Light'"><strong>No matching lecturer was found, why dont you add them!</strong></h3>
                        <a class="btn btn-lg btn-block btn-primary" href="{% url 'create_lecturer' user.id %}">Add a Lecturer</a>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div style="margin-left: 20px" id="uni_data" class="table-responsive">
                <table style="width: 600px" class="table table-striped">

                    <tbody>
                    {% if uni_result %}
                        {% for uni in uni_result %}
                            <tr>
                                <td class="col-md-12">
                                    <a style="font-family: 'Segoe UI Light'"
                                       href="{% url 'universities' uni.slug %}">{{ uni.name}}</a>  <br>
                                    <input id="input-2" name="input-2" class="rating rating-loading"
                                           value="{{ uni.rating|floatformat:-2 }}"
                                           readonly data-show-clear="false" data-size="xs">
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                      <h3 style="color:red;font-family: 'Segoe UI Light'"><strong>No matching University was found. Are you sure it exists?</strong></h3>
                    <a style="width: 600px" class="btn btn-lg btn-block btn-primary" href="{% url 'create_lecturer' user.id %}">Add a Lecturer from your University</a>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{%  endblock %}