{% extends 'ratemylecturer/base.html' %}
{%  load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}


<header class="py-5 bg-image-full" style="background-image: url('https://www.timeshighereducation.com/sites/default/files/institution/header_image/uofg_header.jpg')">
   <div class="masthead-container" >
         <h1><strong>{{ name }}</strong></h1>
            <input id="input-2" name="input-2" class="rating rating-loading"
                                           value="{{ rating }}"
                                           readonly data-show-clear="false" data-size="xs">
        </div>
 </header>
    <div class="col-md-6">
            <h2 class="sub-header">{{ name }} Lecturers:</h2>

        <hr>

            <div id="lec_data" class="table-responsive">
                <table  style="width: 600px" class="table table-striped">

                    <tbody>
                    {% if lec_list %}
                        {% for lec in lec_list %}
                            <tr >
                                <td class="col-md-12">
                                    <a style="font-family: 'Segoe UI Light'"
                                       href="{% url 'profile' lec.user %}">{{ lec.name }}</a> {{ lec.department }},
                                    {{ lec.university }} <br>
                                    <input id="input-2" name="input-2" class="rating rating-loading"
                                           value="{{ lec.rating_avr }}"
                                           readonly data-show-clear="false" data-size="xs">
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                        <p>Cant Find Lecturers</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}

